# Bimbo Group - Inventory Demand Challenge - Merged and Cleaned Datasets

In [1]:
# IMPORT PACKAGES (SKLEARN, PANDAS, NUMPY, MATPLOTLIB)
from sklearn import datasets
from sklearn import metrics
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Import Sampled Train dataset --> 74k out of 7.4 million
train_data = pd.read_csv('Datasets/TrainSample.csv', low_memory=False)

In [3]:
#Remove First to Columns
train_data = train_data.iloc[:,2:]

In [4]:
# Verify Data
train_data.columns

Index([u'Semana', u'Agencia_ID', u'Canal_ID', u'Ruta_SAK', u'Cliente_ID',
       u'Producto_ID', u'Venta_uni_hoy', u'Venta_hoy', u'Dev_uni_proxima',
       u'Dev_proxima', u'Demanda_uni_equil'],
      dtype='object')

In [5]:
# Rename Columns
train_data.columns = ['Week_number','Sales_Depot_ID','Sales_Channel_ID','Route_ID','Client_ID',
'Product_ID','Weekly_Sales_Units','Weekly_Sales', 'Returns_Units_Next_Week_Int','Returns_Units_Next_Week_Pesos','Adjusted_Demand']

In [6]:
#Train_data: View first 10 rows of data
train_data.head(10)

,Week_number,Sales_Depot_ID,Sales_Channel_ID,Route_ID,Client_ID,Product_ID,Weekly_Sales_Units,Weekly_Sales,Returns_Units_Next_Week_Int,Returns_Units_Next_Week_Pesos,Adjusted_Demand
0,3,1544,1,1232,524192,1284,2,6.04,0,0.0,2
1,7,1384,1,2003,946897,43147,6,27.24,0,0.0,6
2,7,1453,1,1106,10412,43209,2,13.52,0,0.0,2
3,6,1632,1,2806,4391557,31512,2,19.98,0,0.0,2
4,5,1625,1,1290,4448338,1232,1,18.24,0,0.0,1
5,6,2055,1,1258,1479145,1232,2,36.48,0,0.0,2
6,5,1629,1,1243,1991344,1250,3,22.92,0,0.0,3
7,6,2044,1,1232,1312249,2425,21,94.50,0,0.0,21
8,5,1336,1,1153,19987,35651,20,150.00,0,0.0,20
9,3,1347,1,2055,134894,43285,10,52.80,0,0.0,10

In [7]:
#Train_data: Shape
train_data.shape

(74180, 11)

In [8]:
# SUMMARY STATISTICS FOR TRAIN DATASET:
train_data.iloc[:,6:].describe()

,Weekly_Sales_Units,Weekly_Sales,Returns_Units_Next_Week_Int,Returns_Units_Next_Week_Pesos,Adjusted_Demand
count,74180.000000,74180.000000,74180.000000,74180.000000,74180.000000
mean,7.315840,68.334624,0.125182,1.225872,7.230197
std,19.445801,278.934861,1.975372,19.213114,19.273091
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,16.760000,0.000000,0.000000,2.000000
50%,3.000000,30.000000,0.000000,0.000000,3.000000
75%,7.000000,56.100000,0.000000,0.000000,6.000000
max,1195.000000,20314.800000,247.000000,2436.000000,1195.000000

In [9]:
#Import and Rename Client Table data --> all 935k
client_table = pd.read_csv('Datasets/cliente_tabla.csv', low_memory=False)
client_table.columns = ['Client_ID', 'Client_Name']
print client_table.head(10)

   Client_ID                              Client_Name
0          0                               SIN NOMBRE
1          1                         OXXO XINANTECATL
2          2                               SIN NOMBRE
3          3                                EL MORENO
4          4  SDN SER  DE ALIM  CUERPO SA CIA  DE INT
5          4     SDN SER DE ALIM CUERPO SA CIA DE INT
6          5                               LA VAQUITA
7          6                                   LUPITA
8          7                             I M EL GUERO
9          8                     MINI SUPER LOS LUPES

In [10]:
client_table.shape

(935362, 2)

In [11]:
# CODE FROM KERNEL: MAKE ALL STRING VALUES UPPER CASE
client_table['Client_Name'] = client_table['Client_Name'].str.upper()

In [12]:
# CODE FROM KERNEL: VALUE COUNTS ON FIRST 200 ROWS
client_table['Client_Name'].value_counts()[0:200]

NO IDENTIFICADO    281670
LUPITA               4863
MARY                 3016
LA PASADITA          2426
LA VENTANITA         2267
LA GUADALUPANA       1299
ROSY                 1246
ALEX                 1242
GABY                 1238
LA ESCONDIDA         1216
PATY                 1145
LA ESPERANZA         1139
HERNANDEZ            1129
LA CHIQUITA          1118
DANY                 1082
GARCIA               1062
JUQUILITA            1022
MARTINEZ              987
LA TIENDITA           914
3 HERMANOS            913
DIANA                 894
MI TIENDITA           881
SAN JOSE              851
LA PROVIDENCIA        842
GONZALEZ              826
DICONSA               823
LA ESQUINA            816
LUCY                  792
LETY                  776
GLORIA                714
                    ...
LORENA                260
RUBI                  258
WENDY                 257
VICTORIA              257
TERESA                256
VERONICA              256
CECY                  253
LAS GEMELAS           252
LA BODEGUITA          250
MARIBEL               249
RUIZ                  249
EL CRUCERO            249
LUZ                   248
EL SOL                248
LA POBLANITA          248
CHAYITO               247
MONICA                244
ALMA                  244
EL PARAISO            242
JOSEFINA              242
VENTANITA             242
4 HERMANOS            242
FLOR                  241
FANY                  240
ROSSY                 240
ORTIZ                 239
LA CURVA              238
RIVERA                238
TANIA                 238
JUAREZ                236
Name: Client_Name, dtype: int64

In [13]:
# TF-IDF Score List:
# Input: client_table (dataframe), list_len (?)
# Output: ?
def tfidf_score_list(client_table, list_len):
    # Import TfidfVectorizer function from sklearn.feature_extraction.text
    from sklearn.feature_extraction.text import TfidfVectorizer
    
    # v <- TfidfVectorizer 
    v = TfidfVectorizer()

    # "New" column erted into client_table (df)
    client_table['New'] = 'na'
    # Joins "Client Name" on empty df
    a = " ".join(client_table['Client_Name'])
    # Renames new column with values from  "Client Name" 
    client_table['New'][0] = a

    # TFIDF - Fit  Transform on client_table['New'] 
    tfidf = v.fit_transform(client_table['New'])

    # define feature names 
    feature_names = v.get_feature_names()

    
    # define freq as empty array
    freq = []
    # define object doc equal to 0.
    doc = 0
    #  define feature index as first row of TFIDT array
    # array has been sorted for nonzero ?? --> figure out shape of TFIDF array
    feature_index = tfidf[doc,:].nonzero()[1]
    tfidf_scores = zip(feature_index, [tfidf[doc, x] for x in feature_index])
    for w, s in [(feature_names[i], s) for (i, s) in tfidf_scores]:
            freq.append((w.encode('utf-8'),s))
    
    del client_table['New']
    
    import numpy as np
    names = ['word','score']
    formats = ['S50','f8']
    dtype = dict(names = names, formats=formats)
    array = np.array(freq, dtype=dtype)

    b = np.sort(array, order='score')
    
    if list_len > len(b)+1:
        list_len = len(b)+1
    for i in range(1,list_len):
        print(b[-i])

In [14]:
# PRINT TFIDF SCORE LIST:
tfidf_score_list(client_table, 200)

/Users/OldMacBook/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

('no', 0.6888126004392261)
('identificado', 0.6849292193079914)
('la', 0.14990532034891804)
('el', 0.08328478631483191)
('abarrotes', 0.08000932333188071)
('de', 0.060769929775006254)
('maria', 0.046819424108197776)
('miscelanea', 0.038050812737357366)
('super', 0.035203324130797714)
('los', 0.028416525923361337)
('san', 0.02574168607091418)
('oxxo', 0.022573216682060866)
('del', 0.0216686344774151)
('garcia', 0.021376833766239046)
('hernandez', 0.020995061169117042)
('jose', 0.01983515334219223)
('lupita', 0.019261278610212658)
('gonzalez', 0.017758504947655986)
('martinez', 0.017646648008371832)
('lopez', 0.01715058679937254)
('mini', 0.015331695699708473)
('rodriguez', 0.01489156296035126)
('las', 0.013889713851980142)
('don', 0.01254256723538403)
('comodin', 0.012384508516830334)
('guadalupe', 0.012357760118305862)
('mary', 0.012270219904953047)
('jesus', 0.012024620973046535)
('ramirez', 0.01199544090192893)
('juan', 0.011966260830811324)
('casa', 0.011929785741914316)
('ag', 0.011820360475223297)
('sanchez', 0.011567466525537383)
('perez', 0.011192988946194783)
('farmacia', 0.011115175423214501)
('hermanos', 0.01088173485427366)
('cruz', 0.010424580406764508)
('flores', 0.009619696778437227)
('mi', 0.008992325249408713)
('rosa', 0.008676207812301322)
('carmen', 0.008549760837458365)
('diconsa', 0.008435472225581078)
('papeleria', 0.008204463329233368)
('luis', 0.008189873293674566)
('torres', 0.00791509429065045)
('tienda', 0.007907799272871047)
('ventanita', 0.007778920625434958)
('ii', 0.0073387878860777436)
('gomez', 0.007270701053469998)
('pasadita', 0.00726583770828373)
('cremeria', 0.00722693094679359)
('reyes', 0.007141822406033908)
('francisco', 0.0066603512325934195)
('antonio', 0.006655487887407152)
('esperanza', 0.006653056214814018)
('ana', 0.0066506245422208845)
('puesto', 0.006555789311088667)
('martha', 0.006529040912564195)
('luz', 0.0064755441155152525)
('santa', 0.006453659062177048)
('angel', 0.006293168671030218)
('vazquez', 0.006271283617692015)
('gutierrez', 0.006174016713966664)
('hamburguesas', 0.006154563333221593)
('tiendita', 0.006059728102089376)
('diaz', 0.005938144472432687)
('miguel', 0.00579224411684466)
('jimenez', 0.005648775433849768)
('escuela', 0.005602573654580226)
('gloria', 0.005558803547903818)
('centro', 0.005527191804193078)
('misc', 0.005403176501943256)
('manuel', 0.005400744829350122)
('elena', 0.00530347792562477)
('angeles', 0.005293751235252236)
('ma', 0.005174599278188681)
('morales', 0.005145419207071075)
('abts', 0.005121102481139737)
('teresa', 0.004958180417399775)
('ruiz', 0.004909546965537099)
('margarita', 0.004839028460336219)
('juana', 0.004804985044032347)
('guadalupana', 0.0047685099551353395)
('chavez', 0.0047587832647628045)
('alex', 0.004683401414375657)
('do\xc3\xb1a', 0.0046712430514099885)
('carniceria', 0.00463963130769925)
('martin', 0.0046226095995473135)
('isabel', 0.004610451236581644)
('mendoza', 0.004513184332856293)
('alicia', 0.004413485756537808)
('aguilar', 0.004396464048385872)
('carlos', 0.00433080888837126)
('fruteria', 0.0043040604898467874)
('gaby', 0.004270017073542916)
('rosy', 0.004265153728356647)
('nueva', 0.004235973657239042)
('estrella', 0.004165455152038163)
('deposito', 0.004141138426106825)
('juarez', 0.0041289800631411555)
('alvarez', 0.004082778283871614)
('moreno', 0.004056029885347142)
('cafeteria', 0.004053598212754008)
('ortiz', 0.0040317131594158045)
('rivera', 0.004000101415705066)
('castillo', 0.003978216362366862)
('dany', 0.0039538996364355235)
('pedro', 0.003888244476420912)
('luna', 0.003888244476420912)
('paty', 0.0038712227682689755)
('secundaria', 0.003722890740087815)
('guzman', 0.0036815523060045405)
('dulces', 0.0036402138719212667)
('providencia', 0.003618328818583062)
('escondida', 0.00360373878302426)
('rosario', 0.003569695366720387)
('diana', 0.0035186302422645778)
('ramos', 0.0035064718792989086)
('chiquita', 0.003484586825960705)
('express', 0.003477291808181303)
('medina', 0.0034748601355881694)
('reyna', 0.003445680064470564)
('esc', 0.003445680064470564)
('juquilita', 0.0033994782852010226)
('laura', 0.003377593231862819)
('sol', 0.003363003196304016)
('romero', 0.0033459814881520796)
('flor', 0.003341118142965812)
('silvia', 0.0032997797088825374)
('rosita', 0.0032900530185100024)
('minisuper', 0.0032851896733237344)
('blanca', 0.0032657362925786644)
('jorge', 0.003258441274799263)
('javier', 0.003253577929612996)
('modelorama', 0.003238987894054193)
('leon', 0.0031976494599709184)
('guerrero', 0.0031976494599709184)
('fe', 0.0031903544421915176)
('vargas', 0.0031222676095837717)
('eleven', 0.003012842342892752)
('victoria', 0.0029909572895545477)
('castro', 0.002930165474726203)
('loncheria', 0.0029058487487948655)
('tres', 0.0028985537310154638)
('esquina', 0.002888827040642929)
('angelica', 0.002888827040642929)
('leticia', 0.0028450569339665208)
('josefina', 0.0028304668984077182)
('mercado', 0.0028037184998832465)
('lucy', 0.002789128464324444)
('irma', 0.0027769701013587752)
('mendez', 0.002769675083579374)
('lety', 0.002769675083579374)
('vinos', 0.0027672434109862402)
('comercial', 0.002764811738393106)
('claudia', 0.0027575167206137048)
('espinoza', 0.002735631667275501)
('tere', 0.002721041631716698)
('yolanda', 0.002713746613937297)
('villa', 0.002701588250971628)
('esmeralda', 0.0026894298880059593)
('herrera', 0.0026748398524471563)
('luisa', 0.002667544834667755)
('restaurant', 0.0026651131620746213)
('licores', 0.0026602498168883538)
('doa', 0.00265781814429522)
('expendio', 0.0026310697457707483)
('hotel', 0.002599458002060009)
('dios', 0.002592162984280608)
('juanita', 0.0025872996390943403)
('colegio', 0.0025872996390943403)
('valle', 0.0025751412761286716)
('dulceria', 0.0025654145857561365)
('primaria', 0.002555687895383601)
('caseta', 0.0025532562227904673)
('local', 0.0025508245501973336)
('hot', 0.002545961205011066)
('contreras', 0.002536234514638531)
('estrada', 0.0025289394968591294)
('anita', 0.0025192128064865944)
('velazquez', 0.002514349461300327)
('karen', 0.0024973277531483906)
('salvador', 0.0024778743724033206)
('rocio', 0.0024535576464719826)
('cv', 0.0024438309560994476)
('alejandra', 0.0024316725931337784)
('consumo', 0.0024195142301681096)
('socorro', 0.0024122192123887084)
('rafael', 0.0023879024864573704)
('comedor', 0.0023854708138642366)
('patricia', 0.0023757441234917016)
('ab', 0.002370880778305434)
('sa', 0.002363585760526033)
('jugos', 0.0023562907427466316)
('rio', 0.0023538590701534974)
('lourdes', 0.0023417007071878286)
('ortega', 0.002339269034594695)
('salazar', 0.00232954234422216)
('plaza', 0.002327110671629026)

In [15]:
# PRINT ELEMENTS OF CLIENT_NAMES LIST THAT CONTAIN *CAFE*
print(client_table[client_table['Client_Name'].str.contains('.*CAFE.*')])

        Client_ID                           Client_Name
78           1438                 CAFETRIA PREPARATORIA
1095         5045         CAFETERIA DE LA SECUNDARIA 13
1098         5048                     CAFETERIA PREPA 2
1233         5416                             CAFETERIA
1318         5612        CAFETERIA NORMAL DE PROFESORES
1446         5908      CAFETERIA FACULTAD DE PSICOLOGIA
2005         7463                  CAFETERIA DE LA UAEM
2150         7922                       ICATI CAFETERIA
2306         8317         CAFETERIA FACULTAD DE DERECHO
2308         8319  CAFETERIA FACULTAD DE ADMINISTRACION
2573         8979                             CAFETERIA
2864         9956                               LA CAFE
3147        10753                  CAFETERIA LA CARRETA
3207        10844                  CAFETERIA EL JUBILEO
3209        10846                  CAFETERIA LA CENTRAL
3240        10913                  CAFETERIA DON ARTURO
3243        10918                     CAFETERIA COLISEO
3701        12031                            CAFE PARIS
4346        13751                    CAFETERIA FACULTAD
4766        15397                          RUSTICO CAFE
4827        15629                         CAFE LA TORRE
5491        17024          CAFETERIA PREPA 7 VESPERTINO
5597        17252           CAFETERIA HOSPITAL TRINIDAD
5910        17912                CAFE EL NUEVO HUATUSCO
5926        17965                              CAFE P Z
5979        18075     CAFETERIA UNIVERSIDAD INSURGENTES
6047        18253                    CAFE LA BLANCA S A
6207        18641                  HOSPITAL 2 CAFETERIA
6461        19287         CAFETERIA UNIVERSIDAD TEPEYAC
6485        19335        CAFETERIA ESCUELA NORNAL NO 10
...           ...                                   ...
926558    8137969          COLEGIO MIRASIERRA CAFETERIA
926815    8145857                       ETI 5 CAFETERIA
926963    8151480                    CIBER CAFE DENISSE
927565    8175134              CAFETERIA REGIOS CENTRAL
928299    8205167              CAFETERIA SITIO DE TAXIS
928449    8210873                              AEROCAFE
929049    8234198                CAFE INTERNET PACIFICO
929110    8236711                      CAFETERIA FRAGOS
929372    8250865                       CIBER CAFE NINO
929511    8266059                       CAFETERIA LORAY
929792    8276937                        CAFETERIA ADYS
929895    8280710            RESTAURANTE CAFE LA FIESTA
930155    8293191                  EL NUEVO WILLIS CAFE
930235    8295611              CIBER CAFE MUNDO VIRTUAL
931042    8390606          CAFETERIA ESTHER INT CONALEP
931043    8390606         CAFETERIA ESTHER INT  CONALEP
931148    8397676                           CAFE RUBENS
931826    8565291                       CAFE SAN RAFAEL
932328    9484515       SDN CAFETERIA2 2DA ZONA MILITAR
932581    9506908                             CAFE TINA
932801    9521368                         CAFETERIA MIX
932977    9537141                           CAFE LUNNAH
933415    9574912                 CAFETERIA CLUB CHIVAS
933907    9622671                        CAFE LA GLORIA
934245    9655254              CAFETERIA EXTENCION RIOS
934488    9678492               CAFETERIA LA CASA VIEJA
934720    9693686              SECUNDARIA 7 CAFETERIA 2
934786    9702948                     NUEVO CAFE AZTECA
934942    9711388                       CAFETERIA SALOM
935214    9746888                     CAFETERIA LA VACA

[2508 rows x 2 columns]

In [16]:
# FILTER CLIENT NAME VALUES

def filter_specific(vf2):
    client_table['Client_Name'] = client_table['Client_Name'].str.replace('.*REMISION.*','Consignment')
    client_table['Client_Name'] = client_table['Client_Name'].replace(['.*WAL MART.*','.*SAMS CLUB.*'],'Walmart', regex=True)
    client_table['Client_Name'] = client_table['Client_Name'].str.replace('.*OXXO.*','Oxxo Store')
    client_table['Client_Name'] = client_table['Client_Name'].str.replace('.*CONASUPO.*','Govt Store')
    client_table['Client_Name'] = client_table['Client_Name'].str.replace('.*BIMBO.*','Bimbo Store')
    client_table['Client_Name'] = client_table['Client_Name'].replace(['.*COLEG.*','.*UNIV.*','.*ESCU.*','.*INSTI.*',\
                                                        '.*PREPAR.*'],'School', regex=True)
    client_table['Client_Name'] = client_table['Client_Name'].str.replace('.*PUESTO.*','Post')
    client_table['Client_Name'] = client_table['Client_Name'].replace(['.*FARMA.*','.*HOSPITAL.*','.*CLINI.*'],'Hospital/Pharmacy', regex=True)
    client_table['Client_Name'] = client_table['Client_Name'].replace(['.*CAFE.*','.*CREMERIA.*','.*DULCERIA.*',\
                                                        '.*REST.*','.*BURGER.*','.*TACO.*', '.*TORTA.*',\
                                                        '.*TAQUER.*','.*HOT DOG.*',\
                                                        '.*COMEDOR.*', '.*ERIA.*','.*BURGU.*'],'Eatery', regex=True)
    client_table['Client_Name'] = client_table['Client_Name'].str.replace('.*SUPER.*','Supermarket')
    client_table['Client_Name'] = client_table['Client_Name'].replace(['.*COMERCIAL.*','.*BODEGA.*','.*DEPOSITO.*',\
                                                            '.*ABARROTES.*','.*MERCADO.*','.*CAMBIO.*',\
                                                        '.*MARKET.*','.*MART .*','.*MINI .*',\
                                                        '.*PLAZA.*','.*MISC.*','.*ELEVEN.*','.*EXP.*',\
                                                         '.*SNACK.*', '.*PAPELERIA.*', '.*CARNICERIA.*',\
                                                         '.*LOCAL.*','.*COMODIN.*','.*PROVIDENCIA.*'
                                                        ],'General Market/Mart'\
                                                       , regex=True)
    client_table['Client_Name'] = client_table['Client_Name'].replace(['.*VERDU.*','.*FRUT.*'],'Fresh Market', regex=True)
    client_table['Client_Name'] = client_table['Client_Name'].replace(['.*HOTEL.*','.*MOTEL.*'],'Hotel', regex=True)

In [17]:
# CALL FILTER_SPECIFIC FUNCTION
filter_specific(client_table)

In [18]:
# --- Begin filtering for more general terms
# The idea here is to look for names with particles of speech that would
# not appear in a person's name.
# i.e. "Individuals" should not contain any participles or numbers in their names.
def filter_participle(client_table):
    client_table['Client_Name'] = client_table['Client_Name'].replace([
            '.*LA .*','.*EL .*','.*DE .*','.*LOS .*','.*DEL .*','.*Y .*', '.*SAN .*', '.*SANTA .*',\
            '.*AG .*','.*LAS .*','.*MI .*','.*MA .*', '.*II.*', '.*[0-9]+.*'\
    ],'Small Franchise', regex=True)

In [19]:
# CALL FILTER_PARTICIPLE FUNCTION
filter_participle(client_table)

In [20]:
# Any remaining entries should be "Individual" Named Clients, there are some outliers.
# More specific filters could be used in order to reduce the percentage of outliers in this final set.
def filter_remaining(client_table):
    def function_word(data):
        # Avoid the single-words created so far by checking for upper-case
        if (data.isupper()) and (data != "NO IDENTIFICADO"): 
            return 'Individual'
        else:
            return data
    client_table['Client_Name'] = client_table['Client_Name'].map(function_word)

In [21]:
# CALL FILTER_REMAINING FUNCTION
filter_remaining(client_table)

In [22]:
# CALL VALUE COUNTS ON CLIENT NAME COLUMN
client_table['Client_Name'].value_counts()

Individual             353145
NO IDENTIFICADO        281670
Small Franchise        160501
General Market/Mart     66416
Eatery                  30419
Supermarket             16019
Oxxo Store               9313
Hospital/Pharmacy        5798
School                   5705
Post                     2667
Hotel                    1127
Fresh Market             1069
Govt Store                959
Bimbo Store               320
Walmart                   220
Consignment                14
Name: Client_Name, dtype: int64

In [23]:
client_table.to_csv("/Users/OldMacBook/Desktop/School/General Assembly/DataScience/DAT-NYC-39/dataProject/Datasets/Client_Table_Filtered.csv", index=False)

IOError: [Errno 2] No such file or directory: '/Users/OldMacBook/Desktop/School/General Assembly/DataScience/DAT-NYC-39/dataProject/Datasets/Client_Table_Filtered.csv'

In [ ]:
#Import Product Table --> 2.6k
product_table = pd.read_csv('Datasets/producto_tabla.csv', low_memory=False)
product_table.columns = ['Product_ID', 'Product_Name']
product_table.count()

In [ ]:
#Import Town_State table --> all
town_state = pd.read_csv('Datasets/town_state.csv', low_memory=False)

town_state.rename(columns = {'Agencia_ID':'Sales_Depot_ID'}, inplace=True)
print town_state.head(100)

In [ ]:
#Table1: Merge train with client
table1 = pd.merge(train_data, client_table, how = 'inner', on='Client_ID')

In [ ]:
#Table2: Merge table1 with product
table2 = pd.merge(table1, product_table, how='inner', on='Product_ID')

In [ ]:
#Table3: Merge table2
table3 = pd.merge(table2, town_state, how='inner', on='Sales_Depot_ID')

In [ ]:
#Table4: Push to CSV
table3.to_csv("/Users/OldMacBook/Desktop/School/General Assembly/DataScience/DAT-NYC-39/dataProject/Datasets/SampleBimbo.csv", index=False)